# Byte-compiled / optimized / DLL files
/**/__pycache__/

#.idea
.idea/

# files
/**/test.py
/**/debug.log
/**/output/*.csv

# environment variables
venv/

# local files
database/
airflow/logs/

# test files
/**/.pytest_cache/
