# Byte-compiled / optimized / DLL files
/**/__pycache__/

#.idea
.idea/

# files
/**/test.py
/**/debug.log
/**/output/*.csv

# environment variables
venv/
.env

# local files
database/

# test files
/**/.pytest_cache/
